<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Accounts</title>
</head>
<body>
    <h1>Here are your users:</h1>
    {% if  accounts %}
        {% for account in accounts %}
            <ol>
                <li>User Info</li>
                <ul>
                    <li>{{ account.first_name }}</li>
                    <li>{{ account.last_name }}</li>
                    <li>{{ account.email }}</li>
                </ul>
            </ol>
        {% endfor %}
    {% endif %}
    <ol></ol>
</body>
</html>